html{
  background: #90DBE5;
}
.cus_title{
  background-color: #92a8d1;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  height: 54px;
  left: 275px;
  letter-spacing: 0.105em;
  line-height: 42px;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 936px;
}
table{
  background: #FFFFFF;
  border: 3px solid #000000;
  bottom: 33.01%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 80%;
  position: absolute;
  right: 7.36%;
  top: 50%;  
}
form{
  color: #000000;
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: normal;
  height: 10px;
  left: 80%;
  letter-spacing: 0.105em;
  line-height: 42px;
  position: absolute;
  top: 200px;
  width: 100px;
}
input{
  border: 2px solid #000000;
  position: absolute;
}
